#
# Copyright (c) 2022, 2024 Contributors to the Eclipse Foundation
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License v. 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0,
# or the Eclipse Distribution License v. 1.0 which is available at
# http://www.eclipse.org/org/documents/edl-v10.php.
#
# SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause
#

name: Persistence API

on:
  pull_request:
  push:

jobs:
  build:
    name: Test on JDK ${{ matrix.java_version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java_version: [ 21, 25 ]

    steps:
    - name: Checkout for build
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up JDK
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java_version }}
        cache: maven
    - name: Verify
      # GH runs against the merge done in the current year, so let's just check modified files do have some copyright
      # For the TCK, we just check that the subproject can pass a build (skipping the tests)
      run: |
          mvn -B -U -C -V clean install -Poss-release -Dgpg.skip=true -DskipTests
          mvn org.glassfish.copyright:glassfish-copyright-maven-plugin:check -Poss-release -Dgpg.skip=true -Dcopyright.ignoreyear=true
